{% extends 'base.html.twig' %}

{% block title %}
    Hello NotaController!
{% endblock %}

{% block body %}
    {% if nota is defined %}
        <p>
            Se ha creado una nota:
        </p>
        <ol>
            <li>
                {{ nota.id }}
            </li>

            <li>
                {{ nota.titulo }}
            </li>
            <li>
                {{ nota.descripcion }}
            </li>
            <li>
                {{ nota.fechaModificacion ? nota.fechaModificacion|date('Y-m-d H:i:s') : 'N/A' }}
            </li>
        </ol>
    {% endif %}

    {% if notas is defined %}
        <h2>
            Listado de notas
        </h2>

        <table class="table">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Título
                </th>
                <th>
                    Descripción
                </th>
                <th>
                    Fecha de Modificación
                </th>

            </tr>
            {% for nota in notas %}
                <tr>
                    <td>
                        {{ nota.id }}
                    </td>
                    <td>
                        {{ nota.titulo }}
                    </td>
                    <td>
                        {{ nota.descripcion }}
                    </td>
                    <td>
                        {{ nota.fechaModificacion ? nota.fechaModificacion|date('Y-m-d H:i:s') : 'N/A' }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">
                        No hay notas disponibles
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}
